In [1]:
#pandas 기술통계작업 예제
from pandas import DataFrame

In [2]:
df = DataFrame({'거래처':['a슈퍼', 'b슈퍼', 'c슈퍼', 'a슈퍼', 'c슈퍼', 'c슈퍼'],
               '주문량': [100, 25, 40, 55, 123, 77],
               '할인율': [0.1, 0.3, 0.03, 0.07, 0.15, 0.07]})
df

   거래처  주문량   할인율
0  a슈퍼  100  0.10
1  b슈퍼   25  0.30
2  c슈퍼   40  0.03
3  a슈퍼   55  0.07
4  c슈퍼  123  0.15
5  c슈퍼   77  0.07

In [3]:
df.sum()

거래처    a슈퍼b슈퍼c슈퍼a슈퍼c슈퍼c슈퍼
주문량                   420
할인율                  0.72
dtype: object

In [4]:
df.mean()

주문량    70.00
할인율     0.12
dtype: float64

In [5]:
df.describe()

             주문량       할인율
count    6.00000  6.000000
mean    70.00000  0.120000
std     37.16988  0.096747
min     25.00000  0.030000
25%     43.75000  0.070000
50%     66.00000  0.085000
75%     94.25000  0.137500
max    123.00000  0.300000

In [6]:
df.cumsum()

                  거래처  주문량   할인율
0                 a슈퍼  100  0.10
1              a슈퍼b슈퍼  125  0.40
2           a슈퍼b슈퍼c슈퍼  165  0.43
3        a슈퍼b슈퍼c슈퍼a슈퍼  220  0.50
4     a슈퍼b슈퍼c슈퍼a슈퍼c슈퍼  343  0.65
5  a슈퍼b슈퍼c슈퍼a슈퍼c슈퍼c슈퍼  420  0.72

In [7]:
df.sum(axis = 1)

0    100.10
1     25.30
2     40.03
3     55.07
4    123.15
5     77.07
dtype: float64

In [8]:
df.sum(1)

0    100.10
1     25.30
2     40.03
3     55.07
4    123.15
5     77.07
dtype: float64

In [9]:
df.거래처.unique()

array(['a슈퍼', 'b슈퍼', 'c슈퍼'], dtype=object)

In [10]:
df['거래처'].value_counts()

c슈퍼    3
a슈퍼    2
b슈퍼    1
Name: 거래처, dtype: int64